.buy-form__input_type_text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  padding: 8px;
}
