.header__nav-list {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 40px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .header__nav-list {
    gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  .header__nav-list {
    gap: 10px;
  }
}
